.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Kurangi transparansi */
  transition: all 0.3s ease-in-out;
}

.loading-spinner {
  border: 20px solid rgba(255, 0, 0, 0.6); /* Ubah ketebalan border */
  border-top: 20px solid red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
